
 body {
     width: 100%;
     height: 100%;
     background-image: url("../images/background.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 }

 h1, h2, h3, div, log, button, form {
   text-align: center;

 }

 button {
   padding-right: 40px;
   padding-left: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 form {
   padding: 10px;
 }

  /* Centered text */
#startBtn, #doneBtn {
  position: absolute;
  bottom: 20%;
  left: 50%;

}


 